* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: 400px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: #4f4df1;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.btn:hover {
    background-color: #21206d;
}